In [49]:
import scanpy as sc
import numpy as np

In [5]:
adata = sc.read_h5ad('../data/single_cell/original/combined.h5ad')
adata

AnnData object with n_obs × n_vars = 197835 × 33326
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'percent.mt', 'CELL', 'CONDITION', 'Patient', 'Type', 'Cell_type'
    var: 'features'

In [6]:
set(adata.X[0].toarray().flatten())

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 11.0, 25.0}

In [7]:
adata.obs

,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,CELL,CONDITION,Patient,Type,Cell_type
eus_fnb_wu01_AAACCTGAGATCCTGT-1,wu01,317,179,9.77917981072555,NA,NA,NA,NA,NA
eus_fnb_wu01_AAACCTGAGTGAAGTT-1,wu01,294,185,0.680272108843537,NA,NA,NA,NA,NA
eus_fnb_wu01_AAACCTGCACATAACC-1,wu01,11822,3295,14.016240906784,NA,NA,NA,NA,NA
eus_fnb_wu01_AAACCTGCACCACGTG-1,wu01,469,293,5.97014925373134,NA,NA,NA,NA,NA
eus_fnb_wu01_AAACCTGTCTAACTTC-1,wu01,482,243,0,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...
peng_T24_TTTGGTTGTGTTGAGG,NA,6897,2096,0,T24_TTTGGTTGTGTTGAGG,TRUE,T24,TRUE,Stellate cell
peng_T24_TTTGGTTTCCAGAGGA,NA,4630,1641,0,T24_TTTGGTTTCCAGAGGA,TRUE,T24,TRUE,Stellate cell
peng_T24_TTTGGTTTCCTGCTTG,NA,3734,1701,0,T24_TTTGGTTTCCTGCTTG,TRUE,T24,TRUE,Ductal cell type 1
peng_T24_TTTGTCAAGATGTCGG,NA,10274,2824,0,T24_TTTGTCAAGATGTCGG,TRUE,T24,TRUE,Ductal cell type 2
peng_T24_TTTGTCAGTATCAGTC,NA,6172,2085,0,T24_TTTGTCAGTATCAGTC,TRUE,T24,TRUE,Stellate cell

In [14]:
set(adata.obs['orig.ident'])

{'100070',
 '1555-tumor',
 '85948',
 '87235',
 '87784',
 '90209_CMP',
 '91412',
 '91610',
 '91706',
 '94930',
 '95092',
 '95373',
 '96460',
 '97727',
 'COMP_0158_P',
 'G9903',
 'H_ZY-1105-07',
 'H_ZY-1160-06',
 'H_ZY-1174-06',
 'NA',
 'P01',
 'P02',
 'P03',
 'P04',
 'P05',
 'P06',
 'P07',
 'P08',
 'P09',
 'P10',
 'TWCE-HT055P-S1PAG',
 'TWCE-HT081P1-XB1',
 'wu01',
 'wu02',
 'wu03',
 'wu04',
 'wu05',
 'wu07',
 'wu09',
 'wu14',
 'wu15',
 'wu16',
 'wu18',
 'wu22',
 'wu23',
 'wu24',
 'wu25',
 'wu26',
 'wu27',
 'wu28',
 'wu29',
 'wu30',
 'wu31',
 'wu32'}

In [15]:
cell_to_sample_id = {c:s if p=='NA' else p for c, s, p in zip(
    adata.obs.index.to_list(), adata.obs['orig.ident'], adata.obs['Patient'])}
dataset_to_sample_id = {
    'HTAN surgical': [
        '1555-tumor',
        'H_ZY-1105-07',
        'H_ZY-1160-06',
        'H_ZY-1174-06',
        'TWCE-HT055P-S1PAG',
        'TWCE-HT081P1-XB1'
    ],
    'eus-fnb': [
        'wu01',
        'wu02',
        'wu03',
        'wu04',
        'wu05',
        'wu07',
        'wu09',
        'wu14',
        'wu15',
        'wu16',
        'wu18',
        'wu22',
        'wu23',
        'wu24',
        'wu25',
        'wu26',
        'wu27',
        'wu28',
        'wu29',
        'wu30',
        'wu31',
        'wu32'
    ],
    'lin': [
        'P01',
        'P02',
        'P03',
        'P04',
        'P05',
        'P06',
        'P07',
        'P08',
        'P09',
        'P10',
    ],
    'peng': [
        'T1',
        'T10',
        'T11',
        'T12',
        'T13',
        'T14',
        'T15',
        'T16',
        'T17',
        'T18',
        'T19',
        'T2',
        'T20',
        'T21',
        'T22',
        'T23',
        'T24',
        'T3',
        'T4',
        'T5',
        'T6',
        'T7',
        'T8',
        'T9',
    ],
    'chan-seng-yue': [
        '100070',
        '85948',
        '87235',
        '87784',
        '90209_CMP',
        '91412',
        '91610',
        '91706',
        '94930',
        '95092',
        '95373',
        '96460',
        '97727',
        'COMP_0158_P',
        'G9903',
    ]
}
sample_id_to_dataset = {v:k for k, vs in dataset_to_sample_id.items() for v in vs}
cell_to_dataset = {c:sample_id_to_dataset[cell_to_sample_id[c]] for c in adata.obs.index.to_list()}

In [16]:
adata.obs['dataset'] = [cell_to_dataset[x] for x in adata.obs.index.to_list()]
adata.obs['sample_id'] = [cell_to_sample_id[x] for x in adata.obs.index.to_list()]

In [17]:
adata.obs

,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,CELL,CONDITION,Patient,Type,Cell_type,dataset,sample_id
eus_fnb_wu01_AAACCTGAGATCCTGT-1,wu01,317,179,9.77917981072555,NA,NA,NA,NA,NA,eus-fnb,wu01
eus_fnb_wu01_AAACCTGAGTGAAGTT-1,wu01,294,185,0.680272108843537,NA,NA,NA,NA,NA,eus-fnb,wu01
eus_fnb_wu01_AAACCTGCACATAACC-1,wu01,11822,3295,14.016240906784,NA,NA,NA,NA,NA,eus-fnb,wu01
eus_fnb_wu01_AAACCTGCACCACGTG-1,wu01,469,293,5.97014925373134,NA,NA,NA,NA,NA,eus-fnb,wu01
eus_fnb_wu01_AAACCTGTCTAACTTC-1,wu01,482,243,0,NA,NA,NA,NA,NA,eus-fnb,wu01
...,...,...,...,...,...,...,...,...,...,...,...
peng_T24_TTTGGTTGTGTTGAGG,NA,6897,2096,0,T24_TTTGGTTGTGTTGAGG,TRUE,T24,TRUE,Stellate cell,peng,T24
peng_T24_TTTGGTTTCCAGAGGA,NA,4630,1641,0,T24_TTTGGTTTCCAGAGGA,TRUE,T24,TRUE,Stellate cell,peng,T24
peng_T24_TTTGGTTTCCTGCTTG,NA,3734,1701,0,T24_TTTGGTTTCCTGCTTG,TRUE,T24,TRUE,Ductal cell type 1,peng,T24
peng_T24_TTTGTCAAGATGTCGG,NA,10274,2824,0,T24_TTTGTCAAGATGTCGG,TRUE,T24,TRUE,Ductal cell type 2,peng,T24
peng_T24_TTTGTCAGTATCAGTC,NA,6172,2085,0,T24_TTTGTCAGTATCAGTC,TRUE,T24,TRUE,Stellate cell,peng,T24

In [18]:
htan_sample_map = {
    '1555-tumor': 'htan_01',
    'H_ZY-1105-07': 'htan_02',
    'H_ZY-1160-06': 'htan_03',
    'H_ZY-1174-06': 'htan_04',
    'TWCE-HT055P-S1PAG': 'htan_05',
    'TWCE-HT081P1-XB1': 'htan_06'
}
adata.obs['sample_id'] = [htan_sample_map.get(x, x) for x in adata.obs['sample_id']]

In [35]:
# rename in index
import re
def rename_cell_id(cid):
    if 'chan_seng_yue' in cid:
        return cid.replace('_filtered_gene_bc_matrices_h5.h5', '')
    if 'htan' in cid:
        sample = re.sub(r'^htan_surgical_(.*)_[AGCT]+.*$', r'\1', cid)
        converted = htan_sample_map[sample]
        barcode = re.sub(r'^htan_surgical_.*_([AGCT]+).*$', r'\1', cid)
        return f'surgical_{converted}_{barcode}'
    return cid
adata.obs['cell_id'] = [rename_cell_id(x) for x in adata.obs.index]

In [36]:
set(['_'.join(x.split('_')[:-1]) for x in adata.obs['cell_id']])

{'chan_seng_yue_100070',
 'chan_seng_yue_85948',
 'chan_seng_yue_87235',
 'chan_seng_yue_87784',
 'chan_seng_yue_90209_CMP',
 'chan_seng_yue_91412',
 'chan_seng_yue_91610',
 'chan_seng_yue_91706',
 'chan_seng_yue_94930',
 'chan_seng_yue_95092',
 'chan_seng_yue_95373',
 'chan_seng_yue_96460',
 'chan_seng_yue_97727',
 'chan_seng_yue_COMP_0158_P',
 'chan_seng_yue_G9903',
 'eus_fnb_wu01',
 'eus_fnb_wu02',
 'eus_fnb_wu03',
 'eus_fnb_wu04',
 'eus_fnb_wu05',
 'eus_fnb_wu07',
 'eus_fnb_wu09',
 'eus_fnb_wu14',
 'eus_fnb_wu15',
 'eus_fnb_wu16',
 'eus_fnb_wu18',
 'eus_fnb_wu22',
 'eus_fnb_wu23',
 'eus_fnb_wu24',
 'eus_fnb_wu25',
 'eus_fnb_wu26',
 'eus_fnb_wu27',
 'eus_fnb_wu28',
 'eus_fnb_wu29',
 'eus_fnb_wu30',
 'eus_fnb_wu31',
 'eus_fnb_wu32',
 'lin_P01',
 'lin_P02',
 'lin_P03',
 'lin_P04',
 'lin_P05',
 'lin_P06',
 'lin_P07',
 'lin_P08',
 'lin_P09',
 'lin_P10',
 'peng_T1',
 'peng_T10',
 'peng_T11',
 'peng_T12',
 'peng_T13',
 'peng_T14',
 'peng_T15',
 'peng_T16',
 'peng_T17',
 'peng_T18',
 'peng_T19',
 'peng_T2',
 'peng_T20',
 'peng_T21',
 'peng_T22',
 'peng_T23',
 'peng_T24',
 'peng_T3',
 'peng_T4',
 'peng_T5',
 'peng_T6',
 'peng_T7',
 'peng_T8',
 'peng_T9',
 'surgical_htan_01',
 'surgical_htan_02',
 'surgical_htan_03',
 'surgical_htan_04',
 'surgical_htan_05',
 'surgical_htan_06'}

In [37]:
adata.obs.index = adata.obs['cell_id'].to_list()

In [42]:
metadata = adata.obs[['sample_id', 'dataset']]
metadata.index.name = 'cell_id'
metadata

                                sample_id  dataset
cell_id
eus_fnb_wu01_AAACCTGAGATCCTGT-1      wu01  eus-fnb
eus_fnb_wu01_AAACCTGAGTGAAGTT-1      wu01  eus-fnb
eus_fnb_wu01_AAACCTGCACATAACC-1      wu01  eus-fnb
eus_fnb_wu01_AAACCTGCACCACGTG-1      wu01  eus-fnb
eus_fnb_wu01_AAACCTGTCTAACTTC-1      wu01  eus-fnb
...                                   ...      ...
peng_T24_TTTGGTTGTGTTGAGG             T24     peng
peng_T24_TTTGGTTTCCAGAGGA             T24     peng
peng_T24_TTTGGTTTCCTGCTTG             T24     peng
peng_T24_TTTGTCAAGATGTCGG             T24     peng
peng_T24_TTTGTCAGTATCAGTC             T24     peng

[197835 rows x 2 columns]

In [ ]:
## remove peng and lin and re add in
## this is to add in the normal and met samples that werent included in first batch

In [50]:
lin = sc.read_h5ad('../data/single_cell/original/lin/lin.h5ad')
lin

AnnData object with n_obs × n_vars = 17086 × 20283
    obs: 'sample_id'

In [52]:
lin.obs['dataset'] = 'lin'
lin.obs

                         sample_id dataset
MET01_AAAGATGAGCCCGAAA-1     MET01     lin
MET01_AAAGATGAGTCAAGGC-1     MET01     lin
MET01_AAAGATGCAGCGAACA-1     MET01     lin
MET01_AAAGTAGGTACCTACA-1     MET01     lin
MET01_AACTCAGAGCAGCGTA-1     MET01     lin
...                            ...     ...
P10_TTTGTCAGTTGATTGC-1         P10     lin
P10_TTTGTCATCACTGGGC-1         P10     lin
P10_TTTGTCATCAGAGACG-1         P10     lin
P10_TTTGTCATCATGGTCA-1         P10     lin
P10_TTTGTCATCCGTTGTC-1         P10     lin

[17086 rows x 2 columns]

In [53]:
lin.var

Empty DataFrame
Columns: []
Index: [FAM138A, OR4F5, AL627309.1, AP006222.2, OR4F29, OR4F16, FAM87B, LINC00115, FAM41C, AL645608.2, SAMD11, AL645608.1, NOC2L, KLHL17, PLEKHN1, HES4, ISG15, AGRN, RNF223, C1orf159, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, UBE2J2, SCNN1D, ACAP3, PUSL1, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, MRPL20, ANKRD65, TMEM88B, VWA1, ATAD3C, ATAD3B, ATAD3A, TMEM240, SSU72, AL645728.1, MIB2, MMP23B, CDK11B, SLC35E2B, CDK11A, NADK, GNB1, CALML6, TMEM52, GABRD, PRKCZ, AL590822.2, AL590822.1, SKI, MORN1, AL589739.1, RER1, PEX10, PLCH2, PANK4, HES5, TNFRSF14, MMEL1, TTC34, ACTRT2, PRDM16, ARHGEF16, MEGF6, TPRG1L, WRAP73, TP73, CCDC27, SMIM1, LRRC47, CEP104, DFFB, C1orf174, LINC01134, AJAP1, NPHP4, KCNAB2, CHD5, RPL22, RNF207, ICMT, LINC00337, HES3, GPR153, ACOT7, HES2, ESPN, TNFRSF25, PLEKHG5, NOL9, TAS1R1, ...]

[20283 rows x 0 columns]

In [54]:
adata.var

              features
AL669831.5  AL669831.5
FAM87B          FAM87B
LINC00115    LINC00115
SAMD11          SAMD11
NOC2L            NOC2L
...                ...
SMIM17          SMIM17
NAV2.AS2      NAV2.AS2
MIR3179.1    MIR3179.1
ZNF32.AS1    ZNF32.AS1
RXYLT1.AS1  RXYLT1.AS1

[33326 rows x 1 columns]

In [47]:
metadata.to_csv('../data/single_cell/original/count_matrix/metadata.csv', sep=',')

In [45]:
import pandas as pd
df = pd.DataFrame(data=adata.X.toarray(), columns=adata.var.index.to_list(),
                  index=adata.obs.index.to_list())
df = df.transpose()
df['gene'] = df.index.to_list()
df = df.groupby('gene').mean().astype(int)
df.index.name = 'Gene'
df

,eus_fnb_wu01_AAACCTGAGATCCTGT-1,eus_fnb_wu01_AAACCTGAGTGAAGTT-1,eus_fnb_wu01_AAACCTGCACATAACC-1,eus_fnb_wu01_AAACCTGCACCACGTG-1,eus_fnb_wu01_AAACCTGTCTAACTTC-1,eus_fnb_wu01_AAACGGGCAAGGCTCC-1,eus_fnb_wu01_AAACGGGGTAGAGGAA-1,eus_fnb_wu01_AAACGGGTCATTCACT-1,eus_fnb_wu01_AAACGGGTCTGTGCAA-1,eus_fnb_wu01_AAAGCAAAGCCACCTG-1,...,peng_T24_TTTGCGCTCCTTTCGG,peng_T24_TTTGCGCTCTTATCTG,peng_T24_TTTGGTTAGACACTAA,peng_T24_TTTGGTTAGTGAAGAG,peng_T24_TTTGGTTGTCATACTG,peng_T24_TTTGGTTGTGTTGAGG,peng_T24_TTTGGTTTCCAGAGGA,peng_T24_TTTGGTTTCCTGCTTG,peng_T24_TTTGTCAAGATGTCGG,peng_T24_TTTGTCAGTATCAGTC
Gene,,,,,,,,,,,,,,,,,,,,,
7SK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7SK.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7SK.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A1BG,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
A1BG-AS1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
hsa-mir-1199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hsa-mir-335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hsa-mir-490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hsa-mir-8072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
snoU13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
df.to_csv('../data/single_cell/original/count_matrix/counts.csv', sep=',')